<% content_for(:title, "#{@user.name} | JANBnB") %>


<h1><%= current_user.greeting %>, <%= current_user.name %></h1>
<br />
<br />
<div class="bio">
  <h3>Your Bio</h3>
  <%= current_user.bio %>
</div>

<div class="avatar">
  <%= image_tag current_user.avatar.url(:thumb) %>
</div>
<br />
<br />
<br />
<br />
<br />
<div id="userprops">
  <ul >
    <%= render @properties %>
  </ul>
</div>

<div class="well property">
<%= link_to 'Add Property', new_property_path, class: 'btn btn-warning', remote: true, id: "new_link"  %>
</div>
